/* Hide scrollbar but keep scrolling functionality */
.scrollbar-hide {
    -ms-overflow-style: none; /* For IE and Edge */
    scrollbar-width: none; /* For Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  